.greeting {
    text-align: center;
    font-size: 100px;
}

.wrapper {
    text-align: center;
    padding: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    padding: 5px 5px 5px 0px;
}
