.welcome {
    font-size: 100px
}

.login-form {
    display: flex;
    justify-content: center;
}

.input-wrapper {
    padding: 5px 5px 5px 0px;
}

.label-wrapper {
    padding: 10px;
}

.button-wrapper {
    padding: 10px;
}